body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.accountscontainer {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
}

.accountdisplay {
  margin-top: 50px;
}

.welcome {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.estimate {

}

.landingHeader {
  margin-top: 35px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 60px;
}

.landingBody {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.background {
  height: 800px;
  margin-top: 115px;
  margin-left: 100px;
  margin-right: 100px;
}

.home {
  margin-top: 100px;
}

.nav {
  height: 75px;
}

.performance {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 45px;
  height: 65px;
}

.performanceSearch {
  margin-top: 100px;
}

.performanceContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.center {
  text-align: center;
}

.accountHeader {
  background-color: #FF9900;
  height: 75px;
}

.welcomeHeader {
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 45px;
}
