body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #E8E9F3;
}

.accountscontainer {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 125px;
  background-color: rgb(247,247,247);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.newusertransactiondisplay {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 25px;
  background-color: rgb(247,247,247);
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.accountdisplay {
  margin-top: 50px;
}

.welcome {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.landingHeader {
  margin-top: 125px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 60px;
}

.ui.menu .ui.dropdown .menu>.item{
  font-size: 20px !important;
}

.ui.top.fixed.ui.inverted.menu.nav.menu {
  font-size: 20px !important;
}

.ui.top.attached.tabular.menu {
  font-size: 20px !important;
}

.landingBody {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
}

.questionairebackground {
  height: 700px;
  margin-top: 115px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(247,247,247);
}

.home {
  margin-top: 100px;
}

.nav {
  height: 75px;
}

.performance {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 45px;
  height: 65px;
}

.performanceSearch {
  margin-top: 100px;
}

.automargin {
  display: block;
  margin-left: 12%;
}

.performanceContainer {
  margin-left: 50px;
  margin-right: 50px;
}

.center {
  text-align: center;
}

.accountHeader {
  background-color: #FF9900;
  height: 75px;
}

.welcomeHeader {
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 45px;
}

.dashboard {
  padding-top: 50px;
}

.balancesText {
  text-align: left;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 35px;
}

.recommendationText {
  text-align: center;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
}

.welcomeText {
  text-align: left;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 50px;
}

.welcomeText3 {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 50px;
}

.portfolioHeader {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 35px;
  height: 15px;
  text-align: center;
}

.welcome2 {
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
}

.transactionDisplay {
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: rgb(247,247,247);
  height: auto;
}

.modal {
  background-color: blue;
}

.recommendation {
  height: 500px;
}

.welcomeLoader {
  height: 125px;
  margin-top:75px;
}

.transactionLoader {
  height: 65px;
  width: 250px;
  margin-top: 25px;
}

.transactionSearchBar {
  text-align: left;
  width: 1000px;
}

.searchBar {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 15px;
}

.blackfont {
  color: black;
}

.transactionsearch {
  width: 400px;
}

.portfoliodetails {
  padding: 10px;
}

.welcomebackground {
  background-color: rgb(247,247,247);
  margin-left: 100px;
  margin-right: 100px;
  height: 700px;
  padding-top: 50px;
}

.welcomePerformance {
  margin-left: 35px;
  margin-right: 35px;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 20px;
  padding-top: 120px;
}

.accountperformance {
  margin-top: 30px;
}

.welcomeMenu {
  height: 500px;
}

.newusermessage {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
}

.newusermessagebody {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
}

.newuserlandingheader {
    margin-top: 5px;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 60px;
}

.newuserlandingimage {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    background-color: rgb(247,247,247);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.performanceSearchDisplay {
  margin-top: 50px;
  background-color: rgb(247,247,247);
  height: 500px;
}

 .signupandlogin {
   margin-top: 125px;
 }

 .results{
 max-height: 300px!important;
 overflow-y: auto!important;
}
